.ui-button-left {
  color: black;
  background-color: green;
  box-shadow: 0 0 5px 5px white;
  width: 200px;
  height: 60px;
  margin: 20px;
}

.ui-button-left:hover {
  color: black;
  background-color: green;
  box-shadow: 0 0 5px -3px cyan;
}

.ui-button-right {
  color: black;
  background-color: red;
  box-shadow: 0 0 5px 5px white;
  width: 200px;
  height: 60px;
  margin: 20px;
}

.ui-button-right:hover {
  color: black;
  background-color: red;
  font-family: impact;
  box-shadow: 0 0 5px -3px cyan;
}

body {
  background: #404040;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

label.premioa {
  font-size: 25px;
  width: 10em;
  margin-left: 30px
}

.Table {
  position: absolute;
  right: 60px;
  top: 50px;
}

input[type=int] {
  width: 12%; 
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  background-color: white;
  margin: 9px 66px;
  padding: 8px 6px 8px 6px;
  outline: none;
}
